<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a ui-sref="products">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Thêm mới</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditProduct" role="form" ng-submit="UpdateProduct()">
            <div class="card-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-change="GetSeoTitle()" ng-maxlength="256" required name="name" ng-model="product.Name">
                        <span ng-show="frmEditProduct.name.$error.required" class="has-error">Phải nhập tên danh mục</span>
                        <span ng-show="frmEditProduct.name.$error.maxlength" class="has-error">Tên danh mục phải nhỏ hơn 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="alias" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="alias" ng-model="product.Alias">
                        <span ng-show="frmEditProduct.alias.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                        <span ng-show="frmEditProduct.alias.$error.maxlength" class="has-error">Tiêu đề SEO phải nhỏ hơn 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Mô tả ngắn gọn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="500" name="description" ng-model="product.Description">
                        <span ng-show="frmEditProduct.description.$error.maxlength" class="has-error">Mô tả phải nhỏ hơn 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="category">Danh mục</label>
                    <div class="col-sm-10">
                        <select class="form-control" required name="category" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in productCategories ">
                            <option value="">Chọn danh mục</option>
                        </select>
                        <span ng-show="frmEditProduct.category.$error.required" class="has-error">Phải chọn danh mục</span>
                    </div>

                </div>
                <div class="form-group">
                    <label for="waranty" class="col-sm-2 control-label">Bảo hành</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" value="0" name="waranty" ng-model="product.Waranty">

                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">Giá</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" value="0" required name="price" ng-model="product.Price">
                        <span ng-show="frmEditProduct.price.$error.required" class="has-error">Phải nhập giá</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" name="image" ng-model="product.Image">
                        <span ng-show="frmEditProduct.image.$error.maxlength" class="has-error">Hình nhỏ hơn 256 ký tự</span>
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">Thêm ảnh</label>
                    <div class="col-sm-10">
                        <ul class="list-inline">
                            <li class="list-inline-item" ng-repeat="image in moreImage"><img width="100" ng-src="{{image}}" /></li>
                        </ul>
                        <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="promotionPrice" class="col-sm-2 control-label">Giá KM</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="promotionPrice" ng-model="product.PromotionPrice">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" ckeditor="ckeditorOptions" rows="3" name="content" ng-model="product.Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="metaKeyword" class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="tags" ng-model="product.Tags"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="metaKeyword" class="col-sm-2 control-label">MetaKeyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="product.MetaKeyword"></input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="metaDescription">MetaDescription</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="metaDescription" ng-model="product.MetaDescription"></textarea>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="status" ng-model="product.Status" ng-checked="product.Status">
                            <label class="form-check-label" for="status">Trạng thái</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag">
                            <label class="form-check-label" for="homeFlag">Hiển thị trang chủ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="hotFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag">
                            <label class="form-check-label" for="hotFlag">Sản phẩm hot</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" ng-disabled="frmEditProduct.$invalid" class="btn btn-info">Lưu </button>
                <button class="btn btn-default" ui-sref="products">Hủy</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>

</section>
<!-- /.content -->