<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật danh mục: {{productCategory.Name}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a ui-sref="product_categories">Danh mục sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title"> {{productCategory.Name}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditProductCategory" role="form" ng-submit="UpdateProductCategory()">
            <div class="card-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-change="GetSeoTitle()" name="name" ng-model="productCategory.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="alias" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="alias" ng-model="productCategory.Alias">
                    </div>
                </div>
                <div class="form-group">
                    <label for="desctiption" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="desctiption" ng-model="productCategory.Description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="parentCategory">Danh mục cha</label>
                    <select class="form-control col-sm-10" name="parentCategory" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories ">
                        <option value="">Danh mục gốc</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="displayOrder" class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="displayOrder" ng-model="productCategory.DisplayOrder">
                    </div>
                </div>

                <div class="form-group">
                    <label for="metaKeyword" class="col-sm-2 control-label">MetaKeyword</label>
                    <textarea class="form-control col-sm-10" rows="3" name="metaKeyword" ng-model="productCategory.MetaKeyword"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="metaDescription">MetaDescription</label>
                    <textarea class="form-control col-sm-10" rows="3" name="metaDescription" ng-model="productCategory.MetaDescription"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status">
                            <label class="form-check-label" for="status">Trạng thái</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag">
                            <label class="form-check-label" for="homeFlag">Hiển thị trang chủ</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Lưu </button>
                <button class="btn btn-default" ui-sref="product_categories">Hủy</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>

</section>
<!-- /.content -->