 <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh mục sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Danh mục sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">   
        <div class="card-header">
            <h3 class="card-title">Danh mục sản phẩm</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" ng-model ="keyword" placeholder="Từ khóa" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" ng-click="search()">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-outline-secondary" ui-sref="productcategory_add">Thêm mới</a>
                                 
                            </div>

                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 5%">ID</th>
                                <th style="width: 50%">Tên danh mục</th>
                                <th style="width: 20%">Ngày tạo</th>
                                <th style="width: 10%">Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr ng-repeat="item in productCategories">
                                <td>{{item.ID}}</td>
                                <td>{{item.Name}}</td>
                                <td>
                                    {{item.CreatedDate | date : 'dd/MM/yyyy hh:mm:ss'}}
                                </td>
                                <!--class="badge bg-danger"-->
                                <td><span ng-class="{'badge bg-danger':item.Status==false,'badge bg-success':item.Status==true}">{{item.Status | statusFilter}}</span></td>
                                <td>
                                    <button class="btn-sm btn-primary" ui-sref="productcategory_edit({id:item.ID})"><i class="fa fa-pencil"></i></button>
                                    <button class="btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tfoot>
                                <tr>
                                    <td colspan="5" ><span class="pull-right">Trang :{{page}} - Tổng số bản ghi: {{totalCount}}</span></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count ="{{totalCount}}" search-func="getProductCategories(page)"></pager-directive>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->